@font-face {
    font-family: 'Roboto';
    src: url(fonts/roboto/Roboto-Bold.ttf)
}
@font-face {
    font-family: 'Roboto-light';
    src: url(fonts/roboto/Roboto-Light.ttf)
}
@font-face {
    font-family: 'Roboto-light-italic';
    src: url(fonts/roboto/Roboto-ThinItalic.ttf)
}

* {
    margin:0;
    padding:0;
    /*border: 1px solid lightpink;*/
    
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    color: #fff;
    height: 450px;
    
}

.logo-container {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    height: 100px;
    width: 940px;
    align-items: center;
    padding: 0 45px;
}

.logo {
    font-size: 28px;
    font-family: 'Roboto' ;
    
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    font-size: 18px;
    font-family: 'Roboto';
}

ul a {
    color: #fff;
    text-decoration: none;
}
ul a:hover {
    color: lightslategray;
}

.header-section {
    
    display: flex;
    justify-self: center;
    justify-content: center;
    /*background-color: lightcoral;*/
    width: 950px;
    height: 300px;
    
    
    
}
.section-container {
    display: flex;
    /*background-color: aqua;*/
    width: 940px;
    align-items: center;
    justify-content: space-evenly;
    
    
    
    
}

h1 {
    font-size: 48px;
    line-height: .90;
    font-family: 'Roboto';
    font-weight: 900;
    padding-bottom: 5px;
}


.section-item {
    /*background-color: blue;*/
    width: 400px;
    
}

.image {
    width: 400px;
}

.button  {
    background-color: #3882f6;
    color: #fff;
    
    font-family: 'Roboto';
    padding: 5px 20px;
    margin-top: 8px;
    border-radius: 7px;
    
}

.button a {
    text-decoration: none;
    color: #fff;
}

.button a:hover {
    color: lightslategray;
}

.upper-section-content h2 {
    width: 500px;
    margin:auto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: 'Roboto';
    /*border: 1px solid lightcoral;*/
    padding: 40px 0;

}

.upper-section-container {
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    
}

.usection-items {
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 15px;
    
}

.subtext {
   height: 150px;
   width: 150px;
   font-family: 'Roboto-light';
   margin-top: 5px;
   text-align: center;
}

.lower-section-content {
    background-color: #E5E7EB;
    /*border: 1px solid lightpink;*/
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
}

.lower-section-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 75px 0 1px 0;
    /*border: 1px solid lightpink;*/
    width: 940px;
    
}

.lsection-items {
    font-family: 'Roboto-light-italic';
    font-size: 36px;
    color: #1F2937;
    font-style: light-italic;
    align-self: center;
    
}

.quote {
    font-family: 'Roboto';
    font-size: 20px;
    margin-left: 1120px;

}

.footer {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #3882f6;
    width: 975px;
    height: 150px;
    justify-content: center;
    padding: 0 0 0 75px;
    border-radius: 10px;
    
   
    

}

.footer-items {
    font-family: 'Roboto';
    font-size: 20px;
}

.footer2-items {
    font-family: 'Roboto-light';
    
}



.button2 {
    position: relative;
    top: 15px;
    left: 500px;
    border-color: #fff;
    background-color: #3882f6;
    color: #fff;
    font-family: 'Roboto';
    padding: 5px 20px;
    border-radius: 7px;
}

.button2:hover a{
    color: lightslategray;
}

.button2 a {
    text-decoration: none;
    color: #fff;
}





